.button-component
{
    font-family: monospace;
    font-size: 1rem;
    color: white;
    background-color: rgb(152, 141, 222);
    border: 7px double rgb(235, 175, 185);
    margin-bottom: 3rem;
    height: 5rem;
    width: 27%;
}

.button-component:hover
{
    border-color:rgb(234, 0, 255);
    color: black;
    background-color: rgb(125, 111, 212);
}