.header-component
{
    display: flex;
    height: 5rem;
    text-align: center;
    justify-content: center;
}

.header-wrapper
{
    position: relative;
}

.header-app-title {
    font-size: 2.5rem;
    font-family: monospace;
    display: flex;
    white-space: nowrap;
    color: azure;
}

.fa-mug-hot {
    margin-top: -0.3rem;
    font-size: 3.5rem;
    margin-left: 2rem;
}
